Package: com.nactro.blurskiller
Name: blursKiller
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: NactroTeam
Author: NactroTeam
Section: Tweaks
